h1 {
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

li {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
}

a:hover {
  color: brown;
  text-decoration: underline;
}
